<p>wxianfeng.com pdf archive download:</p>
<p>second half of 2009: <%=link_to 'download' , :controller=>"mashups" , :action=>'download_pdf' , :id=>'2009_second' %> <br/>
first half of 2010: <%=link_to 'download' ,  :controller=>"mashups" , :action=>'download_pdf' , :id=>'2010_first' %></p>

